/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
/*
	-fx-background-color: white;
*/
}

.pane {
	-fx-background-color: white;
}

.sheet {
	-fx-alignment: top-center;
	-fx-padding: 10 30 0 30;
	-fx-background-image: url("image.jpg");
}

.paneborder Line {
	-fx-stroke   : black;
	-fx-opacity : 1.0;
	-fx-effect : dropshadow(gaussian, black, 1, 0, 0, 0);
}

.taskpane {
	-fx-padding: 0 0 0 -1;
	-fx-min-width: 0;
}

.taskpanetext Text {
	-fx-text-alignment: left;
}